@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

a:hover{text-decoration:none;}

.serifText{font-family: 'Castoro', serif;}

.sansSerifText{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.target{cursor:pointer;}

.no_borders{
  border: none !important;
}


.highlight{color:#f5eed9;}
.highlight:hover{color:#f5eed9;}

.hover:hover{text-decoration:none;cursor:pointer;}

/* OVERRIDING BOOTSTRAP CSS */

.btn{margin-bottom: 1rem;}

img.card_image{
  height: 10rem;
}

div.article_meta > * {
  padding-top: 0rem;
  padding-bottom: 0.3rem;
}

.nav_link
{
  color: rgba(100, 120, 140, 0.5);
}

.nav_link:hover
{
  color: #A5B9CC;
}

.nav_active
{
  color: #A5B9CC;
}

.nav_container
{
  background-color: #343a40;
}

/* END */

/* CUSTOME STYLING */

.card_comments:hover
{
  color: #f5eed9;
}

.article_card
{
  max-height: 50rem;
  max-width: 50rem;
  height: 24rem;
  width: 15rem;
}

.article_card:hover
{
  border: 0.2rem solid white;
}

.card_sub_title
{
  padding-bottom: 2rem;
}

.card_sub_title, .card_comments
{
  color: #64788C;
}


#site_title
{
  color: #A5B9CC;
  padding: 0.5rem;

}

#site_title:hover
{
  text-decoration: none;
}

#profile_category_form
{
  margin-top: 2rem;
}

.profile_cb_wrapper
{
  margin-bottom: 1rem;
}

.article_card_container
{
  margin-top: 2rem;
  padding: 1em;
  border-bottom: 0.2rem solid #343a40;
}

.card_title{color: #A5B9CC;}
.card_title:hover{color: #A5B9CC;}

.profile_container
{
  margin-top: 2rem;
  padding: 1rem;
  height: 200%;
  border: 0.15rem solid #343a40;
  border-radius: 1em;
}

img.profile_photo
{
  height: 128px;
  width: 128px;
}

.article_card_body
{
  position: relative;
  background-color: #343a40;
}

.card_footer
{
  position: absolute;
  bottom: 1rem;
}

.article_heading_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-height: 100%;
  max-width: 85%;

}
.article_heading_container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}


.article_image_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-height: 100%;
}

.article_image_container
{
  display: flex;
  max-width: 85%;
  flex-direction: column;
  justify-content: center;
}

div.article_image_container > img
{
  justify-content: center;
}

/* END */
