@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@300;400;700&display=swap');



body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

.target{cursor:pointer;}

.serif{ font-family: 'DM Serif Display', serif; }

.no_borders{
  border: none !important;
}


a {color: #c70000}

a:hover {
  color: #c70000;
  text-decoration: none;
}

.hover:hover{text-decoration:none;cursor:pointer;}

.highlight{color:#c70000;}
.highlight:hover{color:#c70000;}

/* OVERRIDING BOOTSTRAP CSS */

.btn{margin-bottom: 1rem;}

img.card_image{
  height: 10rem;
}

div.article_meta > * {
  padding-top: 0rem;
  padding-bottom: 0.3rem;
}

.nav_link
{
  color: #A5B9CC;
}

.nav_link:hover
{
  color: #fff;
}

.nav_active
{
  color: #fff;
  border-bottom: 1px solid #c70000;
}

.nav_container
{
  background-color: #343a40;
}

.figure-caption
{
  padding-top: 1rem;
}


/* END */

/* CUSTOME STYLING */

.card_comments:hover
{
  color: #c70000;
}

.article_card
{
  max-height: 50rem;
  max-width: 50rem;
  height: 24rem;
  width: 15rem;
  /* border-top: 0.rem solid #c70000; */
  border-bottom: 0.1rem solid #c70000;
}

.article_card:hover
{
  border: 0.1rem solid #c70000;
}

.article_card_container
{
  margin-top: 2rem;
  padding: 1em;
  border-bottom: 0.2rem solid #343a40;
}

.card_sub_title
{
  padding-bottom: 2rem;
}

.card_sub_title, .card_comments
{
  color: #64788C;
}


#site_title
{
  color: #ffffff;
  padding: 0.5rem;
  font-size: 4rem;
}

#site_title:hover
{
  text-decoration: none;
}


.card_title{color: #343a40;}
.card_title:hover{color: #343a40;}
.card_author{
  color: #64788C;
}

.category-header {
  color: #c70000;
}


.card_footer
{
  position: absolute;
  bottom: 1rem;
}

/* Article page */

.article_heading_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-height: 100%;
  max-width: 85%;

}
.article_heading_container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.article_card_body
{
  position: relative;
  background-color: #f5f5f5;
}

.article_image_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-height: 100%;
}

.article_image_container
{
  display: flex;
  max-width: 85%;
  flex-direction: column;
  justify-content: center;
}

div.article_image_container > img
{
  justify-content: center;
  /* border: 0.15rem solid #c70000; */
}

/* Log in / Register */



/* Profile */

.profile_container
{
  margin-top: 2rem;
  padding: 1rem;
  height: 200%;
  border: 0.1rem solid #343a40;
}

img.profile_photo
{
  height: 128px;
  width: 128px;
}

#profile_category_form
{
  margin-top: 2rem;
}

.profile_cb_wrapper
{
  margin-bottom: 1rem;
}

/* END */

/* COMMENT STYLING */

.comment_content
{
  margin-bottom: 0rem;
}

.comment_header
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}

.comment_header > button
{
  margin-left: 0.5rem;
}

.comment_date
{
  color: grey;
}

.parent_comment
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0rem;
}

.parent_comment_wrapper
{
  padding-bottom: 1rem;
}

.child_comment_wrapper
{
  margin-left: 5rem;
}

.child_comment
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0rem;
}

.comment_btn
{
  margin-top: 1rem;
  width: 4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
}
