{% extends 'main/user-form.html' %}

{% block form-heading %}<h2 class="category-header pb-3">Log In</h2>{% endblock form-heading %}

{% block form %}
<form method="POST">
{% csrf_token %}
    {% for field in login_form %}

    <div class="form-group">
        {{field.label_tag}}

        {{field}}
    </div>
    {% endfor %}

  <button type="submit" class="btn btn-dark" id="login_button">Log in</button>
</form>

  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}

{% endblock form %}

{% block switch-form %}
<p><br>Don't have an account? <a href="{% url 'register' %}" class="card-link">Register</a></p>
{% endblock switch-form %}
