{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title%}

{% block content %}

<div class="row profile_container">

  <!-- Column 1 - Username/ image -->
  <div class="col-3 pl-3 py-4">
    <div class="diplay_username">
      <div class="profile_picture">
        <div>
        <img src="{% static 'main/images/empty-profile.jpg' %}" class="mr-3 border profile_photo" alt="..." width="100px" height="100px">
        </div>
        <br>

      </div>
      <h3>{{request.user.username}}</h3>
      <p>{{request.user.email}}
      <br>Date of birth: {{request.user.dob}}</p>
      <div>
        <button type="button" class="btn btn-outline-dark">Add/update profile picture</button>
        <button type="button" class="btn btn-outline-danger">Delete profile picture</button>
      </div>
    </div>
  </div>

  <!-- Column 2 - Article category selection -->
  <div class="col-5 px-5 py-4">
    <div class ="category_selection">
      <h4>Article Categories</h4>
      <small style="font-style: italic; max-width:12rem;">Select which categories of articles you want to see on your homepage</small>

      <form id="profile_category_form">
        {% for category in categories%}
        <div class="form-check profile_cb_wrapper">
          <input class="form-check-input" type="checkbox" name="{{category}}" id="{{category}}" {% if category in personal_categories %} checked="checked" {% endif %}>
          <label class="form-check-label" for="{{category}}">{{category.label}}</label>
        </div>
        {% endfor %}
      </form>

    </div>
  </div>

  <div class="col-4 py-4">
    <div class ="category_selection">
      <h4>Edit User Details</h4>
      <small style="font-style: italic">Enter in your new values and press submit!</small>

    </div>
  </div>


</div>

</div>

{% endblock content%}


{% block scripts %}
  <script>
    token = '{{csrf_token}}'

    {% for category in categories%}

      $('#{{category}}').change(function() {
        // if checkbox is being checked
        if(this.checked == true)
        {
          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'modify_personal_category' %}",
            data: {
              'operation':'add',
              'content': '{{category}}'
            },
            success: function(data,textStatus,jqXHR) {
              console.log("succces")
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
              })
        }
        // if checkbox is being unchecked
        else
        {
          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'modify_personal_category' %}",
            data: {
              'operation':'remove',
              'content': '{{category}}'
            },
            success: function(data,textStatus,jqXHR) {
              console.log("succces")
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
              })
        }
      })

    {% endfor %}
  </script>
{% endblock scripts %}
