{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title%}

{% block content %}

<div class="row profile_container">

  <!-- Column 1 - Username/ image -->
  <div class="col-3 pl-3 py-4">
    <div class="diplay_username">
      <div class="profile_picture">
        <div>
        <img src="{{request.user.profile_pic.url}}" class="mr-3 profile_photo" id="profile-pic" width="200px">
        </div>
        <br>

      </div>
      <h3>{{request.user.username}}</h3>
      <p>{{request.user.email}}
      <br>Date of birth: {{request.user.dob}}</p>
      <div class="image_form">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{image_form.as_p}}
          <button type="submit" name="update" class="btn btn-outline-dark">Update</button>
          <button type="submit" name="delete" class="btn btn-outline-danger" id="delete_image">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Column 2 - Article category selection -->
  <div class="col-5 px-5 py-4">
    <div class ="category_selection">
      <h4>Article Categories</h4>
      <small style="font-style: italic; max-width:12rem;">Select which categories of articles you want to see on your homepage</small>

      <form id="profile_category_form">
        {% for category in categories%}
        <div class="form-check profile_cb_wrapper">
          <input class="form-check-input" type="checkbox" name="{{category}}" id="{{category}}" {% if category in personal_categories %} checked="checked" {% endif %}>
          <label class="form-check-label" for="{{category}}">{{category.label}}</label>
        </div>
        {% endfor %}
      </form>

    </div>
  </div>

  <div class="col-4 py-4">
    <div class ="category_selection">
      <h4>Edit User Details</h4>
      <small style="font-style: italic">Enter in your new values and press submit!</small>
      <div class="edit_user_form">
      <br>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in user_form %}

          <div class="form-group">
              {{field.label_tag}}

              {{field}}
          </div>
          {% endfor %}

          <button type="submit" name="edit_user" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
  </div>


</div>

</div>

{% endblock content%}


{% block scripts %}
  <script>
    token = '{{csrf_token}}'

    {% for category in categories%}

      $('#{{category}}').change(function() {
        if(this.checked == true) // if checkbox is being checked
        {
          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'modify_personal_category' %}",
            data: {
              'operation':'add',
              'content': '{{category}}'
            },
            success: function(data,textStatus,jqXHR) {
              console.log("succces")
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
              })
        }
        else // if checkbox is being unchecked
        {
          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'modify_personal_category' %}",
            data: {
              'operation':'remove',
              'content': '{{category}}'
            },
            success: function(data,textStatus,jqXHR) {
              console.log("succces")
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
              })
        }
      })

    {% endfor %}

  </script>
{% endblock scripts %}
