{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title%}

{% block content %}

<div class="row border my-3 p-3" id="article_container">

  <!-- Column 1 - Article -->

  <!-- Article Header -->
  <div class="col-9 px-3 py-2 w-auto">
    <div class ="article_heading_wrapper article_heading">
      <div class="article_heading_container">
        <h4 class="category-header">{% if selected_category %}{{ selected_category }}{% endif %}</h4>
        <h2>{% block headline %}{{ article.title }}{% endblock %}</h2>
        <br>
        {% comment 'excess_content '%}
        <h5>{% block sub %}{{ article.sub_title }}{% endblock %}</h5>
        {% endcomment %}
      </div>
    </div>

    <!-- a litle white space -->
    <br>

    <!-- Article Image Section -->
    <div class="article_image_wrapper">
      <div class="article_image_container">
        <img src="{% static article.get_imageurl %}" class="img-fluid" alt="{{ article.image_caption }}">
        <figcaption class="figure-caption">{% block caption %}{{ article.image_caption }}{% endblock %}</figcaption>
      </div>
    </div>

    <!-- a litle white space -->
    <br>

    <!-- Article Body -->
    <div class="article_text pb-3">
      {% block text %}{{ article.content|safe }}{% endblock %}
    </div>
  </div>

  <!-- Column 2 - Category Heading,  Meta -->
  <div class="col-3 px-0 py-2">

    <div class="article_meta flex-column">
      <h4><span class="heading_light">Author</span>
      <br>{{ article.author }}</h4>
      <p>{{ article.timestamp }}</p>
      <h4 class="heading_light">Join the debate</h4>
      {% if user.is_authenticated %}
      <button type="button" class="btn btn-outline-dark like-button" id="{{ article.id }}">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        <span class="display_numlikes">{% block likes %}{{ article.like_count }}{% endblock %}</span>
      </button>
      {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to your account to join the debate!</p>
      {% endif %}
    </div>

  </div>

</div>

{% include 'main/article_comments.html' %}

{% endblock content %}

{% block scripts %}
<script>
  $('#nav_EN').addClass('active')

  var article_id
  var user_liked = false
  var token = '{{csrf_token}}';
  var user_auth = '{{user.is_authenticated}}'

  if (user_auth == 'True') { // only handle likes if user is logged in

    $(function() {
      article_id = $('.like-button').attr('id')
        // check whether user has liked this article before
        $.ajax({
          type: 'GET',
          headers: { "X-CSRFToken": token },
          url: "{% url 'likes' 0 %}".replace("0", article_id),
          dataType: 'json',
          success: function (response) {
              // set appearance of like button if already liked
              if (response.is_liked == 'true') {
                console.log('already liked')
                user_liked = true
                $('.btn-outline-dark').css({'color': '#c70000', 'border-color': '#c70000'})
              }
          },
          error: function(textStatus, errorThrown) {
              alert("Ajax request failed: " + textStatus + ' ' + errorThrown)
          }
        })
      })

    $(".like-button").click(function() {
      article_id = $(this).attr('id')
        if (user_liked == true) {
          // remove like
          $.ajax({
            type: 'DELETE',
            headers: { "X-CSRFToken": token },
            url: "{% url 'likes' 0 %}".replace("0", article_id),
            dataType: 'json',
            success: function (response) {
              $('.display_numlikes').html(response.num_likes) // update like like_count
              $('.like-button').css({'color': '#343a40', 'border-color': '#343a40'})
              user_liked = false
            },
            error: function(textStatus, errorThrown) {
                alert("Ajax request failed: " + textStatus + ' ' + errorThrown)
            }
          })
        }
        if (user_liked == false) {
          // register like
          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'likes' 0 %}".replace("0", article_id),
            dataType: 'json',
            success: function (response) {
                $('.display_numlikes').html(response.num_likes) // update like like_count
                $('.like-button').css({'color': '#c70000', 'border-color': '#c70000'})
                user_liked = true
            },
            error: function(textStatus, errorThrown) {
                alert("Ajax request failed: " + textStatus + ' ' + errorThrown)
            }
          })
        }

    })
  }
</script>
{% endblock %}
