{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title%}

{% block content %}

<div class="row border my-3 p-3" id="article_container">

  <!-- Column 1 - Article body -->
  <div class="col-9 px-3 py-2 w-auto">
    <div class ="article_heading">
      <h2>{% block headline %}{{ article.title }}{% endblock %}</h2>
      <h5>{% block sub %}{{ article.sub_title }}{% endblock %}</h5>
    </div>

    <!-- a litle white space -->
    <br>

    <div class="article_image pt-3">
      <img src="{% static article.get_imageurl %}" class="img-fluid" alt="{{ article.image_caption }}">
      <figcaption class="figure-caption">{% block caption %}{{ article.image_caption }}{% endblock %}</figcaption>
    </div>

    <div class="article_text py-3">
      {% block text %}{{ article.content|safe }}{% endblock %}
    </div>
  </div>

  <!-- Column 2 - Category Heading,  Meta -->
  <div class="col-3 px-0 py-2">

    <div class="article_meta flex-column">
      <h4><strong>Authored by:</strong></h4>
      <h4><span style="font-style:italic">{{ article.author }}</span></h4>

      <p style="padding-bottom:0px;padding-top:1rem;"><strong>Category:</strong></p>
      <p><span style="font-style:italic">{% if selected_category %}{{ selected_category }}{% endif %}</span></p>
      <p>{% block dop %}{{ article.dop }}{% endblock %}</p>
      <p>{% block likes %}{{ article.like_count }}{% endblock %} likes</p>
    </div>

</div>
  </div>


  <!-- Comments -->
<div class="row border my-3 p-3 w-auto" id="comments_section">

  <div class="col-9 p-2 width-auto">
      <h2>Comments</h2>

    <!-- Comment post form -->
    <div class="post_comment py-3">
      <form>
        <div class="form-group">
          <textarea name="comment" class="form-control" rows="3" placeholder="Join the conversation..."></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Post your comment</button>
      </form>
  </div>

    <hr>

    <!-- Display comments -->
    <div class="media">
      <img src="{% static 'main/images/empty-profile.jpg' %}" class="mr-3" alt="..." width="64px" height="64px">
      <div class="media-body">
        <h5 class="mt-0">Insert Username</h5>
        This is an example of a parent comment. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <h6><br>Reply</h6>
        <hr>
        <div class="media mt-3">
          <a class="mr-3" href="#">
            <img src="{% static 'main/images/empty-profile.jpg' %}" class="mr-3" alt="..." width="64px" height="64px">
          </a>
          <div class="media-body">
            <h5 class="mt-0">Insert Username</h5>
            This is an example of a reply. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <h6><br>Reply</h6>
            <hr>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock content%}

<script>
  $('#nav_EN').addClass('active')
</script>
