{% load static %}

<!-- Comments -->
<div class="row border my-3 p-3">

  <div class="p-2 w-100" >
    <h2>Comments </h2>

    <!-- Comment post form -->
    <div class="post_comment pt-3 w-auto" id="comment_post_wrapper">
      {% if request.user.is_authenticated %}
      <form id="new_comment_form">
        <div class="form-group" >
          <textarea name="comment" class="form-control" rows="2" placeholder="Join the conversation..." id="new_comment_content"></textarea>
          <p style="display:none" class="text-danger pt-3 mb-0" id="new_comment_error"></p>
        </div>
        <button type="button" class="btn btn-dark" id="new_comment_submit">Post your comment</button>
      </form>
      {% else %}
        <div>
          <p>Please <a href="{% url 'login' %}">log in</a> to your account to join the debate!</p>
        </div>
      {% endif %}
    </div>

    <hr>

    <!-- Display comments -->
    <div class="media mt-5">

      <div class="media-body ml-4" id="comments_section" name="">

        {% if article_comments %}

          {% for comment in article_comments %}

              <!-- PARENT COMMENT -->
              <div class="media parent_comment_wrapper" id="comment_{{comment.id}}">
                <img src="{% static comment.user.profile_pic.url %}" class="mr-3 comment_user_img" alt="..." width="64px" height="64px" >

                <div class="media-body parent_comment">

                  <div class="comment_header mt-0 mb-2" id="comment_header_{{comment.id}}">
                    <h5 class="mr-3 mb-0">{{comment.user.username}}</h5>
                    <div style="flex-grow:2;"></div>
                    {% if request.user == comment.user%}
                      <img src="{% static '/main/images/icons/edit_icon.png'%}" class=" target" title="edit comment" alt="..." id="comment_edit_btn_{{comment.id}}">
                      <img src="{% static '/main/images/icons/delete_icon.png'%}" class="target" title="delete comment" alt="..." id="comment_delete_btn_{{comment.id}}">
                    {% endif %}
                  </div>

                  <div class='comment_body' id="comment_body_{{comment.id}}">
                    <p class="comment_content" id="comment_content_{{comment.id}}">{{comment.content}}</p>
                    <textarea style="display:none" name="edit" class="form-control" rows="1" id="edit_field_{{comment.id}}">{{comment.content}}</textarea>
                    <p style="display:none" class="text-danger pt-3 mb-0" id="edit_error_{{comment.id}}"></p>
                    <button style="display:none" type="button" class="btn btn-dark comment_btn " id="comment_cancel_edit_btn_{{comment.id}}">Cancel</button>
                    <button style="display:none" type="button" class="btn btn-danger comment_btn " id="comment_save_edit_btn_{{comment.id}}">Save</button>
                  </div>

                  <small class="serif comment_date"> Timestamp: {{comment.timestamp}}</small>
                  <button type="button" class="btn btn-dark comment_btn" id="comment_reply_btn_{{comment.id}}">Reply</button>

                  <div class="comment_footer"  style="display:none" id="comment_footer_{{comment.id}}">
                    <textarea name="reply" class="form-control" rows="1" placeholder="Reply to {{comment.user.username}}" id="new_reply_{{comment.id}}"></textarea>
                    <p style="display: none;" class="text-danger pt-3 mb-0" id="reply_error_{{comment.id}}"><p>
                    <button type="button" class="btn btn-dark comment_btn " id="comment_cancel_reply_btn_{{comment.id}}">Cancel</button>
                    <button type="button" class="btn btn-danger comment_btn " id="comment_submit_reply_btn_{{comment.id}}">Reply</button>
                  </div>

                </div>

              </div>

              {% for child_comment in comment.child_comments.all %}

                <!--  CHILD COMMENTS  -->
                <div class="media mb-5 child_comment_wrapper" id="comment_{{child_comment.id}}">
                <img src="{% static child_comment.user.profile_pic.url %}" class="mr-3 comment_user_img" alt="..." width="64px" height="64px">

                  <div class="media-body child_comment">

                    <div class="comment_header mt-0 mb-2" id="comment_header_{{child_comment.id}}">
                      <h5 class="mr-3 mb-0">{{child_comment.user.username}}</h5>
                      <div style="flex-grow:2;"></div>
                      {% if request.user == child_comment.user%}
                        <img src="{% static '/main/images/icons/edit_icon.png'%}" class=" target" title="edit comment" title="edit comment "alt="..." id="comment_edit_btn_{{child_comment.id}}">
                        <img src="{% static '/main/images/icons/delete_icon.png'%}" class="target" title="delete comment" title="delete comment" alt="..." id="comment_delete_btn_{{child_comment.id}}">
                      {% endif %}
                    </div>

                    <div class='comment_body' id="comment_body_{{child_comment.id}}">
                      <p class="comment_content" id="comment_content_{{child_comment.id}}">{{child_comment.content}}</p>
                      <textarea style="display:none" name="edit" class="form-control" rows="1" id="edit_field_{{child_comment.id}}">{{child_comment.content}}</textarea>
                      <p style="display:none" class="text-danger pt-3 mb-0" id="edit_error_{{child_comment.id}}"></p>
                      <button style="display:none" type="button" class="btn btn-dark comment_btn " id="comment_cancel_edit_btn_{{child_comment.id}}">Cancel</button>
                      <button style="display:none" type="button" class="btn btn-danger comment_btn " id="comment_save_edit_btn_{{child_comment.id}}">Save</button>
                    </div>

                    <small class="serif comment_date"> Timestamp: {{child_comment.timestamp}}</small>
                    {% comment %}
                    <button type="button" class="btn btn-dark comment_btn" id="comment_reply_btn_{{child_comment.id}}">Reply</button>
                    <div class="comment_footer"  style="display:none" id="comment_footer_{{child_comment.id}}">
                      <textarea name="reply" class="form-control" rows="1" placeholder="Reply to {{child_comment.user.username}}" id="new_reply_{{child_comment.id}}"></textarea>
                      <button type="button" class="btn btn-dark comment_btn " id="comment_cancel_reply_btn_{{child_comment.id}}">Cancel</button>
                      <button type="button" class="btn btn-danger comment_btn " id="comment_submit_reply_btn_{{child_comment.id}}">Reply</button>
                    </div>
                    {% endcomment %}

                  </div>
                </div>

              {% endfor %}

          {% endfor %}

        {% else %}

          <div class="ml-3 pb-5" id="no_comments" >
            <h4>No comments yet! Be the first.</h4>
          </div>

        {% endif %}

      </div>

    </div>
  </div>

</div>

<script>

  // Front End functionality

  no_comments = true; // used to delete default 'no comments yet content'

  if($('#no_comments').length == 0){ no_comments = false;} // updates no_comments

  token = '{{csrf_token}}'



  $('#new_comment_content').autoResize(); // Adds autoresizing to post new comment textarea

  // Handling Dynamically appended comments to DOM via AJAX
  $('#new_comment_submit').click(function(e) {
    e.preventDefault();

    content = $('#new_comment_content').val()

    if(content == "") // validates for non-empty content
    {
      $('#new_comment_error').show()
      $('#new_comment_error').text("You can't post an empty comment!")
      return
    }
    else {
      $('#new_comment_error').hide()
      $('#new_comment_error').text("")
    }

    // creates new comment for DOM and implements all functionality handlers
    $.ajax({
      type: 'POST',
      headers: { "X-CSRFToken": token },
      url: "{% url 'addComment' %}",
      data:{
        'state': 'new_comment',
        'content': content,
        'article': "{{ article.id }}"
      },
      success: function(response){
        id = response.id
        timestamp = response.timestamp
        username = response.username
        new_content = `<div class="media parent_comment_wrapper" id="comment_${id}">
                        <img src="{% static request.user.profile_pic.url %}" class="mr-3 comment_user_img" alt="..." width="64px" height="64px">

                        <div class="media-body parent_comment">

                          <div class="comment_header mt-0 mb-2" id="comment_header_${id}">
                            <h5 class="mr-3 mb-0">{{request.user.username}}</h5>
                            <div style="flex-grow:2;"></div>
                            <img src="{% static '/main/images/icons/edit_icon.png'%}" class="mr-3 target" title="edit comment" alt="..." name="${id}" id="comment_edit_btn_${id}">
                            <img src="{% static '/main/images/icons/delete_icon.png'%}" class="target" title="delete comment" alt="..." name="${id}" id="comment_delete_btn_${id}">
                          </div>

                          <div class='comment_body' id="comment_body_${id}">
                            <p class="comment_content" id="comment_content_${id}">${content}</p>
                            <textarea style="display:none" name="${id}" class="form-control" rows="1" id="edit_field_${id}"></textarea>
                            <p style="display:none" class="text-danger pt-3 mb-0" id="edit_error_${id}"></p>
                            <button style="display:none" type="button" class="btn btn-dark comment_btn" name="${id}" id="comment_cancel_edit_btn_${id}">Cancel</button>
                            <button style="display:none" type="button" class="btn btn-danger comment_btn " name="${id}" id="comment_save_edit_btn_${id}">Save</button>
                          </div>

                          <small class="serif comment_date"> Timestamp: ${timestamp}</small>
                          <button type="button" class="btn btn-dark comment_btn" id="comment_reply_btn_${id}">Reply</button>

                          <div class="comment_footer"  style="display:none" id="comment_footer_${id}">
                            <textarea name="reply" class="form-control" rows="1" placeholder="Reply to ${username}" id="new_reply_${id}"></textarea>
                            <p style="display: none;" class="text-danger pt-3 mb-0" id="reply_error_${id}"><p>
                            <button type="button" class="btn btn-dark comment_btn" name="${id}" id="comment_cancel_reply_btn_${id}">Cancel</button>
                            <button type="button" class="btn btn-danger comment_btn" name="${id}" id="comment_submit_reply_btn_${id}">Reply</button>
                          </div>

                        </div>

                      </div>`

        if(no_comments){
          $('#no_comments').remove()
        }

        $('#comments_section').append(new_content)
        $('#new_comment_content').val("")

        // add delete functionality for appended new comment
        $(`#comment_delete_btn_${id}`).on("click", function() {
          proper_id = $(this).attr('name')

          $.ajax({
            method: 'DELETE',
            headers: { "X-CSRFToken": token },
            url: "{% url 'removeComment' 0 %}".replace(0, proper_id),
            success: function(){
              $(`#comment_${proper_id}`).remove()
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
          })

        })


        // add edit functionality for appended new comment

        // front end edit toggles
        $(`#comment_edit_btn_${id}`).on("click", function(){
          proper_id = $(this).attr('name')

          $.ajax({
            type: 'GET',
            url: "{% url 'getCommentContents' 0 %}".replace(0, proper_id),
            success: function(response){
              content = response.content
              $(`#edit_field_${proper_id}`).val(content)
              $(`#comment_content_${proper_id}`).hide()
              $(`#edit_field_${proper_id}`).show()

              $(`#comment_cancel_edit_btn_${proper_id}`).show()
              $(`#comment_save_edit_btn_${proper_id}`).show()

              $(`#comment_reply_btn_${proper_id}`).hide()
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
          })
        })

        $(`#comment_cancel_edit_btn_${id}`).on("click", function(){
          proper_id = $(this).attr('name')

          $(`#comment_content_${proper_id}`).show()
          $(`#edit_field_${proper_id}`).hide()

          $(`#comment_cancel_edit_btn_${proper_id}`).hide()
          $(`#comment_save_edit_btn_${proper_id}`).hide()

          $(`#comment_reply_btn_${proper_id}`).show()
          $(`#edit_error_${proper_id}`).text("")
          $(`#edit_error_${proper_id}`).hide()
        })

        // update new comment from edit
        $(`#comment_save_edit_btn_${id}`).on("click", function(){
          proper_id = $(this).attr('name')
          content = $(`#edit_field_${proper_id}`).val()

          if(content == '')
          {
            $(`#edit_error_${proper_id}`).text("You can't have an empty comment!")
            $(`#edit_error_${proper_id}`).show()
            return
          }

          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'modifyComment' 0 %}".replace(0, proper_id),
            data:{
              'content': content,
              'article': "{{ article.id }}"
            },
            success: function(response){

              $(`#comment_content_${proper_id}`).text(content)

              $(`#comment_content_${proper_id}`).show()
              $(`#edit_field_${proper_id}`).hide()

              $(`#comment_cancel_edit_btn_${proper_id}`).hide()
              $(`#comment_save_edit_btn_${proper_id}`).hide()

              $(`#comment_reply_btn_${proper_id}`).show()

              // just to be safe
              $(`#edit_error_${proper_id}`).hide()
              $(`#edit_erro_${proper_id}`).text("")

            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
          })
        })

        // add toggle reply functionality for appended new comment

        $(`#comment_reply_btn_${id}`).click(function(){
          $(`#comment_footer_${id}`).show()
          $(`#comment_reply_btn_${id}`).hide()
        })

        $(`#comment_cancel_reply_btn_${id}`).click(function(){
          $(`#reply_error_${id}`).text("")
          $(`#reply_error_${id}`).hide()
          $(`#comment_footer_${id}`).hide()
          $(`#comment_reply_btn_${id}`).show()
        })

        // add resizable reply for appended new comment
        $(`#new_reply_${id}`).autoResize();

        // add  new reply for appended new comment
        $(`#comment_submit_reply_btn_${id}`).on("click", function(){
          console.log('creating new reply post')
          content = $(`#new_reply_${id}`).val()
          parent_comment = id
          parent_selector = '#comment_' + id

          article_id = $('#article_container').attr('name')

          if(content == "")
          {
            $(`#reply_error_${id}`).show()
            $(`#reply_error_${id}`).text("You can't reply with an empty comment!")
            return
          }

          $(`#new_reply_${id}`).val("")
          $(`#reply_error_${id}`).text("")
          $(`#reply_error_${id}`).hide()

          $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url: "{% url 'addComment' %}",
            data:{
              'state': 'new_reply',
              'content': content,
              'article': article_id,
              'parent': parent_comment
            },
            success: function(response){
              reply_id = response.id
              reply_timestamp = response.timestamp
              new_reply = `<div class="media mb-5 child_comment_wrapper" id="comment_${reply_id}">
                              <img src="{% static request.user.profile_pic.url %}" class="mr-3 comment_user_img" alt="..." width="64px" height="64px">

                                <div class="media-body child_comment">

                                  <div class="comment_header mt-0 mb-2" id="comment_header_${reply_id}">
                                    <h5 class="mr-3 mb-0">{{request.user.username}}</h5>
                                    <div style="flex-grow:2;"></div>
                                      <img src="{% static '/main/images/icons/edit_icon.png'%}" class=" target" title="edit comment" alt="..." name="${reply_id}" id="comment_edit_btn_${reply_id}">
                                      <img src="{% static '/main/images/icons/delete_icon.png'%}" class="target" title="delete comment" alt="..." name="${reply_id}" id="comment_delete_btn_${reply_id}">
                                  </div>

                                  <div class='comment_body' id="comment_body_${reply_id}">
                                    <p class="comment_content" id="comment_content_${reply_id}">${content}</p>
                                    <textarea style="display:none" name="edit" class="form-control" rows="1" id="edit_field_${reply_id}"></textarea>
                                    <p style="display:none" class="text-danger pt-3 mb-0" id="edit_error_${reply_id}"></p>
                                    <button style="display:none" type="button" class="btn btn-dark comment_btn" name="${reply_id}" id="comment_cancel_edit_btn_${reply_id}">Cancel</button>
                                    <button style="display:none" type="button" class="btn btn-danger comment_btn " name="${reply_id}" id="comment_save_edit_btn_${reply_id}">Save</button>
                                  </div>

                                  <small class="serif comment_date"> Timestamp: ${reply_timestamp} </small>
                                </div>
                              </div>`

              $(parent_selector).after(new_reply)
              $(`#comment_footer_${id}`).hide()
              $(`#comment_reply_btn_${id}`).show()
              $(`#reply_error_${id}`).hide()

              // delete functionality for appended reply

              $(`#comment_delete_btn_${reply_id}`).on("click", function() {
                proper_id = $(this).attr('name')
                console.log('deleting reply comment')
                $.ajax({
                  method: 'DELETE',
                  headers: { "X-CSRFToken": token },
                  url: "{% url 'removeComment' 0 %}".replace(0, proper_id),
                  success: function(){
                    $(`#comment_${proper_id}`).remove()
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    alert("textStatus: " + textStatus + " " + errorThrown)
                  }
                })

              })

              // edit functionality for appended reply

              // front end edit toggles
              $(`#comment_edit_btn_${reply_id}`).on("click", function(){
                proper_id = $(this).attr('name')

                $.ajax({
                  type: 'GET',
                  url: "{% url 'getCommentContents' 0 %}".replace(0, proper_id),
                  success: function(response){
                    content = response.content
                    $(`#edit_field_${proper_id}`).val(content)
                    $(`#comment_content_${proper_id}`).hide()
                    $(`#edit_field_${proper_id}`).show()

                    $(`#comment_cancel_edit_btn_${proper_id}`).show()
                    $(`#comment_save_edit_btn_${proper_id}`).show()
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    alert("textStatus: " + textStatus + " " + errorThrown)
                  }
                })
              })

              $(`#comment_cancel_edit_btn_${reply_id}`).on("click", function(){
                proper_id = $(this).attr('name')

                $(`#comment_content_${proper_id}`).show()
                $(`#edit_field_${proper_id}`).hide()

                $(`#comment_cancel_edit_btn_${proper_id}`).hide()
                $(`#comment_save_edit_btn_${proper_id}`).hide()

                $(`#edit_error_${proper_id}`).text("")
                $(`#edit_error_${proper_id}`).hide()
              })

              // update new comment from edit
              $(`#comment_save_edit_btn_${reply_id}`).on("click", function(){
                proper_id = $(this).attr('name')
                content = $(`#edit_field_${proper_id}`).val()

                if(content == '')
                {
                  $(`#edit_error_${proper_id}`).text("You can't have an empty comment!")
                  $(`#edit_error_${proper_id}`).show()
                  return
                }

                $.ajax({
                  type: 'POST',
                  headers: { "X-CSRFToken": token },
                  url: "{% url 'modifyComment' 0 %}".replace(0, proper_id),
                  data:{
                    'content': content,
                    'article': "{{ article.id }}"
                  },
                  success: function(response){

                    $(`#comment_content_${proper_id}`).text(content)

                    $(`#comment_content_${proper_id}`).show()
                    $(`#edit_field_${proper_id}`).hide()

                    $(`#comment_cancel_edit_btn_${proper_id}`).hide()
                    $(`#comment_save_edit_btn_${proper_id}`).hide()

                    // just to be safe
                    $(`#edit_error_${proper_id}`).hide()
                    $(`#edit_erro_${proper_id}`).text("")

                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    alert("textStatus: " + textStatus + " " + errorThrown)
                  }
                })
              })

            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
          })
        })

    },
    error: function(jqXHR, textStatus, errorThrown){
      alert("textStatus: " + textStatus + " " + errorThrown)
    }
    })

  })

  // Handling all features for static comments sent over by backend with GET
  {% if article_comments %}

    {% for comment in article_comments %}

      // Handling comment deleting for parent comments
      $('#comment_delete_btn_{{comment.id}}').click(function(){

        $.ajax({
              method: 'DELETE',
              headers: { "X-CSRFToken": token },
              url: "{% url 'removeComment' comment.id %}",
              success: function(){
                $('#comment_{{comment.id}}').remove()
              },
              error: function(jqXHR, textStatus, errorThrown){
                alert("textStatus: " + textStatus + " " + errorThrown)
              }
            })
      })


      // Handling comment replying for parent comments

      // front end reply toggles
      $('#comment_reply_btn_{{comment.id}}').click(function(){

        $('#comment_footer_{{comment.id}}').show()
        $('#comment_reply_btn_{{comment.id}}').hide()

      })
      $('#comment_cancel_reply_btn_{{comment.id}}').click(function(){

        $('#reply_error_{{comment.id}}').text("")
        $('#reply_error_{{comment.id}}').hide()
        $('#comment_footer_{{comment.id}}').hide()
        $('#comment_reply_btn_{{comment.id}}').show()

      })

      $('#new_reply_{{comment.id}}').autoResize();

      // ajax new comment_reply
      $('#comment_submit_reply_btn_{{comment.id}}').click(function(){

        content = $('#new_reply_{{comment.id}}').val()
        parent_comment = {{comment.id}}
        parent_selector = '#comment_{{comment.id}}'

        if(content == "")
        {
          $('#reply_error_{{comment.id}}').show()
          $('#reply_error_{{comment.id}}').text("You can't reply with an empty comment!")
          return
        }

        $('#new_reply_{{comment.id}}').val("")
        $('#reply_error_{{comment.id}}').text("")
        $('#reply_error_{{comment.id}}').hide()

        $.ajax({
          type: 'POST',
          headers: { "X-CSRFToken": token },
          url: "{% url 'addComment' %}",
          data:{
            'state': 'new_reply',
            'content': content,
            'article': "{{ article.id }}",
            'parent': parent_comment
          },
          success: function(response){
            reply_id = response.id
            reply_timestamp = response.timestamp
            new_content = `<div class="media mb-5 child_comment_wrapper" id="comment_${reply_id}">
                            <img src="{% static request.user.profile_pic.url %}" class="mr-3 comment_user_img" alt="..." width="64px" height="64px">

                              <div class="media-body child_comment">

                                <div class="comment_header mt-0 mb-2" id="comment_header_${reply_id}">
                                  <h5 class="mr-3 mb-0">{{request.user.username}}</h5>
                                  <div style="flex-grow:2;"></div>
                                    <img src="{% static '/main/images/icons/edit_icon.png'%}" class=" target" title="edit comment" alt="..." name="${reply_id}" id="comment_edit_btn_${reply_id}">
                                    <img src="{% static '/main/images/icons/delete_icon.png'%}" class="target" title="delete comment" alt="..." name="${reply_id}" id="comment_delete_btn_${reply_id}">
                                </div>

                                <div class='comment_body' id="comment_body_${reply_id}">
                                  <p class="comment_content" id="comment_content_${reply_id}">${content}</p>
                                  <textarea style="display:none" name="edit" class="form-control" rows="1" id="edit_field_${reply_id}"></textarea>
                                  <p style="display:none" class="text-danger pt-3 mb-0" id="edit_error_${reply_id}"></p>
                                  <button style="display:none" type="button" class="btn btn-dark comment_btn" name="${reply_id}" id="comment_cancel_edit_btn_${reply_id}">Cancel</button>
                                  <button style="display:none" type="button" class="btn btn-danger comment_btn " name="${reply_id}" id="comment_save_edit_btn_${reply_id}">Save</button>
                                </div>

                                <small class="serif comment_date"> Timestamp: ${reply_timestamp} </small>
                              </div>
                            </div>`

            $(parent_selector).after(new_content)
            $('#comment_footer_{{comment.id}}').hide()
            $('#comment_reply_btn_{{comment.id}}').show()
            $('#reply_error_{{comment.id}}').hide()

            // add delete functionality for appended comment
            $(`#comment_delete_btn_${reply_id}`).on("click", function() {
              proper_id = $(this).attr('name')

              $.ajax({
                method: 'DELETE',
                headers: { "X-CSRFToken": token },
                url: "{% url 'removeComment' 0 %}".replace(0, proper_id),
                success: function(){
                  $(`#comment_${proper_id}`).remove()
                },
                error: function(jqXHR, textStatus, errorThrown){
                  alert("textStatus: " + textStatus + " " + errorThrown)
                }
              })

            })

            // Adding editing for new reply

            // front end edit toggles
            $(`#comment_edit_btn_${reply_id}`).on("click", function(){
              proper_id = $(this).attr('name')

              $.ajax({
                type: 'GET',
                url: "{% url 'getCommentContents' 0 %}".replace(0, proper_id),
                success: function(response){
                  content = response.content
                  $(`#edit_field_${proper_id}`).val(content)
                  $(`#comment_content_${proper_id}`).hide()
                  $(`#edit_field_${proper_id}`).show()

                  $(`#comment_cancel_edit_btn_${proper_id}`).show()
                  $(`#comment_save_edit_btn_${proper_id}`).show()
                },
                error: function(jqXHR, textStatus, errorThrown){
                  alert("textStatus: " + textStatus + " " + errorThrown)
                }
              })
            })

            $(`#comment_cancel_edit_btn_${reply_id}`).on("click", function(){
              proper_id = $(this).attr('name')

              $(`#comment_content_${proper_id}`).show()
              $(`#edit_field_${proper_id}`).hide()

              $(`#comment_cancel_edit_btn_${proper_id}`).hide()
              $(`#comment_save_edit_btn_${proper_id}`).hide()

              $(`#edit_error_${proper_id}`).text("")
              $(`#edit_error_${proper_id}`).hide()
            })

            // update new comment from edit
            $(`#comment_save_edit_btn_${reply_id}`).on("click", function(){
              proper_id = $(this).attr('name')
              content = $(`#edit_field_${proper_id}`).val()

              if(content == '')
              {
                $(`#edit_error_${proper_id}`).text("You can't have an empty comment!")
                $(`#edit_error_${proper_id}`).show()
                return
              }

              $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": token },
                url: "{% url 'modifyComment' 0 %}".replace(0, proper_id),
                data:{
                  'content': content,
                  'article': "{{ article.id }}"
                },
                success: function(response){

                  $(`#comment_content_${proper_id}`).text(content)

                  $(`#comment_content_${proper_id}`).show()
                  $(`#edit_field_${proper_id}`).hide()

                  $(`#comment_cancel_edit_btn_${proper_id}`).hide()
                  $(`#comment_save_edit_btn_${proper_id}`).hide()

                  // just to be safe
                  $(`#edit_error_${proper_id}`).hide()
                  $(`#edit_erro_${proper_id}`).text("")

                },
                error: function(jqXHR, textStatus, errorThrown){
                  alert("textStatus: " + textStatus + " " + errorThrown)
                }
              })
            })
          },
          error: function(jqXHR, textStatus, errorThrown){
            alert("textStatus: " + textStatus + " " + errorThrown)
          }
        })
      })

      // Handling comment editing for parent comments

      // front end edit toggles
      $('#comment_edit_btn_{{comment.id}}').click(function(e){

        $.ajax({
          type: 'GET',
          url: "{% url 'getCommentContents' comment.id %}",
          success: function(response){
            content = response.content
            $('#edit_field_{{comment.id}}').val(content)
            $('#comment_content_{{comment.id}}').hide()
            $('#edit_field_{{comment.id}}').show()

            $('#comment_cancel_edit_btn_{{comment.id}}').show()
            $('#comment_save_edit_btn_{{comment.id}}').show()

            $('#comment_reply_btn_{{comment.id}}').hide()
          },
          error: function(jqXHR, textStatus, errorThrown){
            alert("textStatus: " + textStatus + " " + errorThrown)
          }
        })


      })
      $('#comment_cancel_edit_btn_{{comment.id}}').click(function(e){

        $('#comment_content_{{comment.id}}').show()
        $('#edit_field_{{comment.id}}').hide()

        $('#comment_cancel_edit_btn_{{comment.id}}').hide()
        $('#comment_save_edit_btn_{{comment.id}}').hide()

        $('#comment_reply_btn_{{comment.id}}').show()

        $('#edit_error_{{comment.id}}').text("")
        $('#edit_error_{{comment.id}}').hide()
      })

      // ajax edit comment
      $('#comment_save_edit_btn_{{comment.id}}').click(function(){

        content = $('#edit_field_{{comment.id}}').val()

        if(content == '')
        {
          $('#edit_error_{{comment.id}}').text("You can't have an empty comment!")
          $('#edit_error_{{comment.id}}').show()
          return
        }

        $.ajax({
          type: 'POST',
          headers: { "X-CSRFToken": token },
          url: "{% url 'modifyComment' comment.id %}",
          data:{
            'content': content,
            'article': "{{ article.id }}"
          },
          success: function(response){
            $('#comment_content_{{comment.id}}').text(content)

            $('#comment_content_{{comment.id}}').show()
            $('#edit_field_{{comment.id}}').hide()

            $('#comment_cancel_edit_btn_{{comment.id}}').hide()
            $('#comment_save_edit_btn_{{comment.id}}').hide()
            $('#comment_reply_btn_{{comment.id}}').show()
          },
          error: function(jqXHR, textStatus, errorThrown){
            alert("textStatus: " + textStatus + " " + errorThrown)
          }
        })

      })

      {% for child_comment in comment.child_comments.all %}

        // Handling comment deleting for children comments

        $('#comment_delete_btn_{{child_comment.id}}').click(function(){

        $.ajax({
              method: 'DELETE',
              headers: { "X-CSRFToken": token },
              url: "{% url 'removeComment' child_comment.id %}",
              success: function(){
                $('#comment_{{child_comment.id}}').remove()
              },
              error: function(jqXHR, textStatus, errorThrown){
                alert("textStatus: " + textStatus + " " + errorThrown)
              }
            })
      })


        // Handling comment editing for child comments

        // front end edit toggles
        $('#comment_edit_btn_{{child_comment.id}}').click(function(e){

          $.ajax({
            type: 'GET',
            url: "{% url 'getCommentContents' child_comment.id %}",
            success: function(response){
              content = response.content
              $('#edit_field_{{child_comment.id}}').val(content)

              $('#comment_content_{{child_comment.id}}').hide()
              $('#edit_field_{{child_comment.id}}').show()

              $('#comment_cancel_edit_btn_{{child_comment.id}}').show()
              $('#comment_save_edit_btn_{{child_comment.id}}').show()

              $('#comment_reply_btn_{{child_comment.id}}').hide()
            },
            error: function(jqXHR, textStatus, errorThrown){
              alert("textStatus: " + textStatus + " " + errorThrown)
            }
          })


        })
        $('#comment_cancel_edit_btn_{{child_comment.id}}').click(function(e){

          $('#comment_content_{{child_comment.id}}').show()
          $('#edit_field_{{child_comment.id}}').hide()

          $('#comment_cancel_edit_btn_{{child_comment.id}}').hide()
          $('#comment_save_edit_btn_{{child_comment.id}}').hide()

          $('#comment_reply_btn_{{child_comment.id}}').show()

          $('#edit_error_{{child_comment.id}}').text("")
          $('#edit_error_{{child_comment.id}}').hide()
      })

      // ajax edit comment
      $('#comment_save_edit_btn_{{child_comment.id}}').click(function(){

        content = $('#edit_field_{{child_comment.id}}').val()

        if(content == '')
        {
          $('#edit_error_{{child_comment.id}}').text("You can't have an empty comment!")
          $('#edit_error_{{child_comment.id}}').show()
          return
        }

        $.ajax({
          type: 'POST',
          headers: { "X-CSRFToken": token },
          url: "{% url 'modifyComment' child_comment.id %}",
          data:{
            'content': content,
            'article': "{{ article.id }}"
          },
          success: function(response){

            $('#comment_content_{{child_comment.id}}').text(content)

            $('#comment_content_{{child_comment.id}}').show()
            $('#edit_field_{{child_comment.id}}').hide()

            $('#comment_cancel_edit_btn_{{child_comment.id}}').hide()
            $('#comment_save_edit_btn_{{child_comment.id}}').hide()
          },
          error: function(jqXHR, textStatus, errorThrown){
            alert("textStatus: " + textStatus + " " + errorThrown)
          }
        })

      })

        {% comment 'if child replying needed' %}
          // Handling comment replying for children comments
          $('#comment_reply_btn_{{child_comment.id}}').click(function(){ // reply toggle
          $('#comment_footer_{{child_comment.id}}').toggle()
          $('#comment_reply_btn_{{child_comment.id}}').toggle()
        })
          $('#comment_cancel_reply_btn_{{child_comment.id}}').click(function(){ // reply toggle
          $('#comment_footer_{{child_comment.id}}').toggle()
          $('#comment_reply_btn_{{child_comment.id}}').toggle()
      })
        {% endcomment %}

      {% endfor %}

    {% endfor %}

  {% endif %}
</script>
