{% extends 'main/base.html' %}
{% block title %}The News{% endblock title%}
{% load static %}

{% block content %}

{% for category in categories %}
  <div class="index_card_container flex-wrap row my-3">
    <div class="col-3 p2">
      <h3 class="serifText">{{ category.label }}</h3>
    </div>
    {% for entry in category_list %}
      {% if entry.category == category %}
          <div class="col-3 p-2 ">
            <a href="{% url 'article' entry.article.id %}">
          <div class="card index_card target" id="article_{{entry.id}}">
            <!-- <img src="{% static entry.article.get_imageurl %}" class="card-img-top" alt="{{ entry.article.image_caption}}"> -->
            <div class="card-body index_card_body flex-wrap">
              <h5 class="index_card_title serifText hover">{{entry.article.title}}</h5>
              <p class="card-text card_sub_title">{{entry.article.sub_title}}</p>
              <a href="#" class="card-link highlight hover">{{entry.article.like_count}} Likes</a>
              <a href="#" class="card-link card_comments hover">Comments</a>
            </div>
          </div>
            </a>
          </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

{% endblock content%}
