{% extends 'main/base.html' %}

{% block title %}
{% endblock title%}

{% block content%}

<!-- This will be a template that sign in and register.html extend. Placeholder text to be replaced with template tags-->

<div class="d-flex justify-content-center pt-5">
<div class="card" style="width: 25rem;">
  <div class="card-body">

    <div class="card-title h3">
      {% block form-heading %}{% endblock form-heading %}
    </div>

    {% block form %}
    {% endblock form %}

    {% block switch-form %}
    {% endblock switch-form %}

  </div>
</div>
</div>

{% endblock content %}
