{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{% endblock title%}

{% block content%}

<!-- This will be a template that sign in and register.html extend. Placeholder text to be replaced with template tags-->

<div class="d-flex justify-content-center pt-5">
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Register Account</h5>
    <p>form goes here!</p>
    <button type="button" class="btn btn-dark">Register</button>
    <p><br>Already have an account? <a href="#" class="card-link">Sign in</a></p>
  </div>
</div>
</div>

{% endblock content %}
